.iphone-pro {
  background-color: #150f0f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.iphone-pro .div {
  background-color: #150f0f;
  width: 393px;
  height: 852px;
  position: relative;
}

.iphone-pro .rectangle {
  position: absolute;
  width: 639px;
  height: 61px;
  top: 910px;
  left: -120px;
  background-color: #3f3e3e;
  border-radius: 30px;
  font-size: 2rem;
  text-align: center;
}

.iphone-pro .overlap-group {
  position: absolute;
  width: 338px;
  height: 332px;
  top: 1037px;
  left: 29px;
  background-color: #410000;
  border-radius: 69px/66px;
}

.iphone-pro .pngwing {
  position: absolute;
  width: 95px;
  height: 97px;
  top: 110px;
  left: 125px;
  object-fit: cover;
}

.iphone-pro .rectangle-2 {
  position: absolute;
  width: 48rem;
  height: 50rem;
  top: 26px;
  left: -186px;
  background-color: #1a3618;
  color: red;
  font-size: 6rem;
}
